<div class="password-encoding-settings">

    <md-card class="password-encoding-settings-card">
        <md-card-content>
            <h2 class="title">Password Encoding settings</h2>

            <div class="availability-option">
                <span class="option disabled-option">disabled</span>
                <section class="slide-toggle">
                    <md-slide-toggle [(ngModel)]="enabled"></md-slide-toggle>
                </section>
                <span class="option enabled-option">enabled</span>
            </div>

            <div class="password-encoding-method" *ngIf="enabled">
                <p class="title">
                    Choose a method which will be used for encoding passwords before they are saved into the database:
                </p>
                <md-select class="password-encoding-method-select" placeholder="Method" [(ngModel)]="encodingMethod">
                    <md-option *ngFor="let method of methods" [value]="method">
                        {{ method }}
                    </md-option>
                </md-select>
            </div>

            <div class="save-button-wrapper">
                <button class="save-button" md-button (click)="savePasswordEncodingConfiguration()">Save</button>
            </div>

        </md-card-content>
    </md-card>

</div>