.availability-option .slide-toggle {
    display: inline-block;
    line-height: 50px;
}

.availability-option .option {
    margin: 0 10px;
}

.save-button-wrapper .save-button {
    background: seagreen;
}

.password-encoding-method .password-encoding-method-select {
    margin: 20px 10px;
}