<div class="server-information-wrapper">

    <md-card class="settings-information cors-settings-card">
        <md-card-content>
            <h5 class="title">CORS settings</h5>
            <div class="description">
                <md-slide-toggle
                        class="enabled"
                        [checked]="getBooleanFromCurrentSettingState(serverCORSInformation.getState)" disabled="true">
                    {{serverCORSInformation.getState}}
                </md-slide-toggle>

                <div class="url-list">
                    <url *ngFor="let urlTitle of getCORSActualMap()" [title]="urlTitle"
                         [shouldRemoveButtonBeShown]="false"></url>
                </div>
                <p class="link"><a href="/settings/cors">Натістить, щоб перейти до зміни налаштування.</a></p>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="settings-information password-encoding-settings-card">
        <md-card-content>
            <h5 class="title">Password encoding settings</h5>
            <div class="description">
                <md-slide-toggle
                        class="enabled"
                        [checked]="getBooleanFromCurrentSettingState(serverPasswordEncodingInformation.getState)"
                        disabled="true">
                    {{serverPasswordEncodingInformation.getState}}
                </md-slide-toggle>
                <div class="password-encoding-method">
                    <div class="method"
                         *ngIf="getBooleanFromCurrentSettingState(serverPasswordEncodingInformation.getState)">
                        Method: {{ serverPasswordEncodingInformation.getMethod }}
                    </div>
                    <div class="no-method"
                         *ngIf="!getBooleanFromCurrentSettingState(serverPasswordEncodingInformation.getState)">
                        No methods are used to encode passwords.
                    </div>
                </div>

                <p class="link"><a href="/settings/password-encoding">Натістить, щоб перейти до зміни налаштування.</a>
                </p>
            </div>
        </md-card-content>
    </md-card>

</div>