.availability-option .slide-toggle {
    display: inline-block;
    line-height: 50px;
}

.availability-option .option {
    margin: 0 10px;
}

.save-button-wrapper .save-button,
.adding-new-url .add-button {
    background: seagreen;
}