<div class="cors-settings">

    <md-card class="cors-settings-card">
        <md-card-content>
            <h2 class="title">CORS settings</h2>

            <div class="availability-option">
                <span class="option disabled-option">disabled</span>
                <section class="slide-toggle">
                    <md-slide-toggle [(ngModel)]="enabled" (change)="changeOption()"></md-slide-toggle>
                </section>
                <span class="option enabled-option">enabled</span>
            </div>

            <div class="adding-new-url">
                <p class="title">
                    <label for="url">Add a URL to {{getPrefixForAddingURLSentence()}}secure it with CORS configuration:</label>
                </p>
                <md-input-container class="example-full-width">
                    <input mdInput id="url" [(ngModel)]="url" placeholder="/example/resource/1/">
                </md-input-container>
                <button md-button class="add-button" (click)="addURLFromInputToList()" [disabled]="isAddButtonDisabled()">Add</button>
            </div>

            <div class="url-list">
                <url *ngFor="let urlTitle of list" [title]="urlTitle" (onRemove)="removeURLFromList(urlTitle)"></url>
            </div>

            <div class="save-button-wrapper">
                <button class="save-button" md-button (click)="saveCORSConfiguration()">Save</button>
            </div>

        </md-card-content>
    </md-card>

</div>